@use "../standard/colors.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    background-color: colors.$plain;
}

.header-title {
    font-family: "Bold";
    font-size: 3.8rem;
    line-height: 4rem;
}

.header-actions {
    display: flex;
    gap: 2rem;
}

.toggle-view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.highlighted-text {
    font-weight: bolder;
    color: colors.$primary;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
