$background: #eceff4;
$plain: #ffffff;
$primary: #4c396f;
$border: #bdbfbf;
$placeholder: #595f60;
$btn-icon-background: #d0dce1;
$divider: #dedfdf;
$modal-background: #2426264c;
$danger: rgba(212, 90, 90, 1);

$primary-text: #242626;
$secondary-text: #7a7f80;
