@font-face {
    font-family: "Regular";
    src: url("../../assets/fonts/InterRegular.woff") format("woff");
}

@font-face {
    font-family: "Bold";
    src: url("../../assets/fonts/InterBold.woff") format("woff");
}

@font-face {
    font-family: "SemiBold";
    src: url("../../assets/fonts/InterSemiBold.woff") format("woff");
}

@font-face {
    font-family: "Medium";
    src: url("../../assets/fonts/InterMedium.woff") format("woff");
}
