<div class="modal-background">
    <div class="modal modal--confirmation">
        <div class="modal__content modal__content--centered">
            <div class="icon icon--confirmation">
                <div class="icon__color--primary-text"></div>
            </div>
            <div class="confirmation-headline-label">
                Confirm {{ actionName }}
            </div>
            <div class="confirmation-alert-label">
                Are you sure you want to {{ action }}
                <span
                    class="confirmation-alert-label confirmation-alert-label--semiBold"
                    >{{ name }}</span
                >
            </div>
        </div>
        <div class="modal__footer">
            <button
                class="btn btn--primary btn-label--plain"
                (click)="confirmAction()"
            >
                Confirm
            </button>
            <button
                class="btn btn--transparent btn-label--placeholder"
                (click)="cancel()"
            >
                Cancel
            </button>
        </div>
    </div>
</div>
